//div {
//  transition: 1s;
//  background-color: rgba(133, 105, 105, 0.91);
//  color: #d7d3d3;
//  margin: 1%;
//  padding: .8rem;
//  border: solid 1px #333333;
//  border-radius: 10px;
//  width: 30rem;
//  height: max-content;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
//  select {
//    width: 15rem;
//  }
//  button {
//    padding: 1%;
//    border-radius: 2rem;
//  }
//  input {
//    justify-content: center;
//    align-items: center;
//    width: 20rem;
//    ////height: auto;
//    display: flex;
//    //border-radius: 2rem;
//  }
//  span {
//    align-items: start;
//    margin-top: 1rem;
//    text-align: center;
//    min-width: 200px;
//    text-area {
//    min-width: 120px;
//    margin: 10rem;
//  }
//  }
//  i {
//    cursor: pointer;
//  }
//
//}

.forPanelDiv{
  position: absolute;
  z-index: 1000;
  transition: 1s;
    background-color: rgba(133, 105, 105, 0.91);
    color: #d7d3d3;
    margin: 1%;
    padding: .8rem;
    border: solid 1px #333333;
    border-radius: 10px;
    width: 30rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    select {
      width: 15rem;
    }
    button {
      padding: 1%;
      border-radius: 2rem;
    }
    input {
      justify-content: center;
      align-items: center;
      width: 20rem;
      ////height: auto;
      display: flex;
      //border-radius: 2rem;
    }
    span {
      align-items: start;
      margin-top: 1rem;
      text-align: center;
      min-width: 200px;
      text-area {
      min-width: 120px;
      margin: 10rem;
    }
    }
    i {
      cursor: pointer;
    }

}

.mainDiv{
  width: 100%;
}
.map-container {
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.map-frame {
  height: 100%;
}
#map {
  height: 100%;
}

