<div [ngStyle]="{backgroundColor: colors[currentColor]}">
  <h2>
    wps test client for CCA Process
  </h2>
<!--  <span>-->
<!--    <i class="material-icons" [(ngModel)]="currentColor" (click)="onArrowClick($event,false)">arrow_left</i>-->
<!--    <i class="material-icons" [(ngModel)]="currentColor" (click)="onArrowClick($event,true)">arrow_right</i>-->
<!--  </span>-->
<!--  <input type="text" [(ngModel)]="title" (ngModelChange)="onInputChange($event)"/>-->
<!--  <select >-->
<!--    <option *ngFor="let item of config.wpsUrls">{{item}}</option>-->
<!--  </select>-->
  <button (click)="onGetCapabilities()">GET PROCESSES</button>
  <p>select wps process</p>
  <select>
    <option *ngFor="let item of processes">{{item.value.title}}</option>
  </select>
  <div *ngIf="setConfiguration">
    <p>GET CONFIGURATION</p>
    <!--  <div *ngIf="describeProcessIsReady">-->
    <!--    {{describeProcessResult.output.identifier}}-->
    <!--  </div>-->
    <button (click)="onSetConfiguration()">GET CONFIGURATION</button>
  </div>


  <div *ngIf="describeProcessIsReady">
    <input type="file" class="file-upload"[(ngModel)]="inputFile" (change)="onFileInputChange($event)">
    <p>OR</p>
    <textarea  placeholder="image/tiff" type="text" [(ngModel)]="textAreaValue" (ngModelChange)="onTextAreaChange($event)"></textarea>
    <button *ngIf="setConfiguration && describeProcessResult && fileIsReady" (click)="execute()">execute</button>
  </div>


</div>
